.delgomdan2menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    background-color: darkslategray;
}

.delgomdan2menu li {
    float: left;
}

.delgomdan2menu li a {
    display: block;
    padding: 14px 10px;
    background-color: darkslategray;
    color: white;
    text-decoration: none;
}

.delgomdan2menu li a.delgomdan2activo {
    background-color: lightblue;
}

.delgomdan2menu li a:hover:not(.delgomdan2activo) {
    background-color: darkgray;
}

.delgomdan2contenedor {
    box-sizing: border-box;
}

.delgomdan2contenedor img {
    float: left;
    height: 100%;
    width: 31%;
    margin: 1%;
}

.delgomdan2contenedor img:hover {
    opacity: .5;
}


/* ---------------------------------------------------------------------- 
 Sin flex */

.delgomdan3contenedor {
    width: 50%;
    height: 250px;
    margin: 2em auto;
    box-sizing: border-box;
}

.delgomdan3elemento {
    box-sizing: border-box;
    width: 50%;
    float: left;
    height: 100%;
    overflow: auto;
}


/* ---------------------------------------------------------------------- 
 Con flex */


/* .delgomdan3contenedor {
    width: 50%;
    height: 250px;
    margin: 2em auto;
    display: flex;
    box-sizing: border-box;
}

.delgomdan3elemento {
    box-sizing: border-box;
    width: 50%;
}

.delgomdan3elemento:last-child {
    display: flex;
} */


/* ----------------------------------------------------------------------*/

.delgomdan3elemento p {
    padding: 0 5px;
}

.delgomdan3elemento span {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: yellow;
    box-sizing: border-box;
    border: 3px solid black;
    margin: 0 1px;
    padding: 1%;
}

.delgomdan3caja {
    margin: 0;
    float: left;
    width: 33.3%;
    height: 100%;
}

.delgomdan3elemento .delgomdan3caja:nth-child(1) {
    background-color: dimgray;
}

.delgomdan3elemento .delgomdan3caja:nth-child(2) {
    background-color: gray;
}

.delgomdan3elemento .delgomdan3caja:nth-child(3) {
    background-color: lightgray;
}